#
# Copyright (c) 2019 by Delphix. All rights reserved.
#

#
# The "BRANCH" parameter tracks the upstream branch of linux-pkg. It is
# used to determine which branch of the linux package mirror will be used for
# the build if DEFAULT_GIT_BRANCH is not set. DEFAULT_GIT_BRANCH is set when
# linux pkg is built by the linux-pkg-build Jenkins jobs. The
# DEFAULT_GIT_BRANCH parameter should be updated by the release lead on
# branching.
#

DEFAULT_GIT_BRANCH="6.0/release"
