#
# Copyright 2018 Delphix
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

Source: delphix-extra
Section: metapackages
Priority: optional
Maintainer: Delphix Engineering <eng@delphix.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: delphix-extra
Architecture: any
Depends: ${delphix:Depends}
Description: Consolidation for Delphix third-party packages.
  This package ensures that third-party packages built in the linux-pkg
  repository are installed, even if their versions are lower than upstream
  Ubuntu packages.
